.vscode/**
.vscode-test/**
src/**
test/**
docs/**
scripts/**
node_modules/**
!node_modules/jsonc-parser/**
!node_modules/ajv/**
!node_modules/fast-deep-equal/**
!node_modules/fast-uri/**
!node_modules/json-schema-traverse/**
!node_modules/require-from-string/**
tsconfig.json
eslint.config.mjs
.eslintignore
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/.DS_Store
**/tsconfig.json
**/eslint.config.mjs
**/*.ts
**/*.map
!out/**/*.js
!out/**/*.json
